<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>privateKey</key>
	<string>1c40c43a3fcc26fc36ec280cbcde41d9da90167d</string>
	<key>publicKey</key>
	<string>1ad008197d7bef5a8d3b7d7368c890d8</string>
</dict>
</plist>
